h1 h2 {
  text-align: center;
  font-size: 82px;
}
h3 {
  font-family: sans-serif;
}
.floatleft {
  float: left;
  max-width: 110px;
  border-radius: 60%;
  margin-right: 20px;
  margin-left: 2px;
  margin-top: 2px;
  box-shadow: 1px 3px 9px 0px rgba(0, 0, 0, 0.36);
  }
.header {
  border-style: solid;
  background-color: rgba(169, 152, 90, 0.18);
}
.maincontent {
  margin-left: 25px;
  margin-right: 25px;
}
.week1 {
  border-bottom-style: double;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.day1 {

}
.img {
  border-radius: 20%;
  max-width: 200px;
  margin-right: 60px;
  margin-left: 15px;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.79);
}
.justify {
  text-align: justify;
}
.column1 {
  width: 50%;
  float: left;
  margin: auto;
  padding: inherit;
}
.column2 {
  width: 50%;
  float: left;
  margin: auto;
  padding: inherit;
}
