h1 h2 {
  text-align: center;
  font-size: 82px;
}
.floatleft {
  float: left;
  max-width: 110px;
  border-radius: 60%;
  margin-right: 20px;
  margin-left: 2px;
  margin-top: 2px;
  box-shadow: 1px 3px 9px 0px rgba(0, 0, 0, 0.36);
  }
.header {
  border-style: solid;
  background-color: rgba(169, 152, 90, 0.18);
}
.maincontent {
  margin-left: 25px;
  margin-right: 25px;
}
